
.card {
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    border-radius: 20px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .margemleft{
margin-left: 10px;
margin-bottom: 2px;
  }
  .posicao2{
    margin-left: 262px;
    margin-top: -20px;
  }
  html{
    padding-left: 0px;
    padding-right: 0px;
  }
  
  
 

